<h2>Datapoint</h2>

<h3 class="edit-name"><%= @datapoint.id %> <% if can? :update, Datapoint %><%= link_to "[ edit ]", edit_datapoint_path(@datapoint), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
  <% @datapoint.attributes.keys.sort.each do |key| %>
    <tr>
      <th> <%= key == "_id" ? "ID" : key.humanize%></th>
      <td><%= @datapoint[key] %></td>
    </tr>
   <% end %>
</table>

