<h2>Batch Upload Features</h2>

<p>Upload a GeoJSON file containing a feature collection.</p>

<%= bootstrap_form_tag url: '/admin/batch_upload_features',  method: :post, layout: :horizontal do |f| %>

  <fieldset class="pad-top-30">
    <%= f.file_field :geojson_file, control_col: 'col-sm-4' %>
  </fieldset>

  <%= f.form_group do %>
    <%= f.primary 'Upload' %>
  <% end %>
<% end %>

